body{
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'RobotoRegular';
}
#menu,
#login{
    background: url(../img/fondo/fondo_sap.jpeg) no-repeat center center;
    background-size: cover !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000000;
    z-index: 10;
}
.header-left {
    padding: 21px 0 21px 25px;
    float: left;
}
.header-right {
    float: right;
    height: 68px;
    max-width: 375px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.header-right h2{
	color: #FFFFFF;
	font-family: 'RobotoMedium';
	font-size: 22px;
	line-height: 26px;
	margin-right: 29px;
}
.background{
	height: 100%;
    width: 100%;
    max-width: 20px;
    float: right;
}
.header-right .background1 {
    background-color: #54442E;
}
.header-right .background2 {
    background-color: #8D6832;
}
.header-right .background3 {
    background-color: #E29D2E;
}
.mdl-card-login{
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	width: 100%;
    max-width: 1000px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title_login{
    font-size: 22px;
    margin: 10px 0;
    line-height: 26px;
    font-family: 'RobotoBold';
    color: #FFFFFF;
}
.button-login{
	background-color: transparent;
	text-transform: initial;
	font-family: 'RobotoBold';
	box-shadow: none;
	color: #FFFFFF;
	padding: 0 20px;
	height: 32px;
	line-height: 32px;
	border-radius: 10px;
}
.button-login.logout{
	background-color: #000000;
}
.button-login i{
	vertical-align: middle;
	margin-left: 5px;
	color: #FFFFFF;
	font-size: 16px;
}
.button-login.registrar i,
.button-login.registrar{
	color: #F36F21;
}
.button-login.ingresar{
	background-color: #FDB913; 
	float: right;
}
.footer-menu{
	position: relative;
	margin-top: 20px;
}
.footer-menu a{
	color: #FFFFFF;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    top: 50px;
}
.footer-menu a i{
	color: #FFFFFF;
	vertical-align: middle;
}
.footer-menu img{
	max-width: 125px;
    position: absolute;
    right: 0;
}
/*MDL-CARD*/
.mdl-card__supporting-text{
	width: 100%;
}
.mdl-card-login .mdl-card__supporting-text{
	padding: 20px 100px 50px 100px;
}
.mdl-card-login .mdl-card__supporting-text img{
	width: 100%;
	max-width: 350px;
}
.mdl-registro{
	overflow: inherit;
}
.mdl-registro .mdl-card__title{
	display: block;
	text-align: center;
} 
.mdl-registro .mdl-card__title img{
	margin-top: -120px;
}
.mdl-registro .mdl-card__supporting-text h2{
	color: #FFFFFF;
    font-family: 'RobotoBold';
    margin: 5px 0;
    line-height: 30px;
    font-size: 26px;
}
.person_name,
.team_name{
	color: #FFFFFF;
}
.person_name{
    margin: 10px 0;
    line-height: 42px;
}

.team_name{
    margin: 5px 0 15px 0;
    font-size: 26px;
    line-height: 30px;
}
#menu .container{
	padding-top: 100px;
}
.mdl-card-menu{
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
    width: 100%;
    max-width: 280px;
    border-radius: 25px;
    margin: 1px;
}
.mdl-card-menu .mdl-card__title{
	display: block;
	text-align: center;
	display: flex;
	align-items: center;
	height: 250px;
}
.mdl-card-menu .mdl-card__title img{
	margin: auto;
}
.mdl-card-menu .mdl-card__supporting-text{
	padding: 16px 30px;
}
.mdl-card-menu .mdl-card__supporting-text p{
    font-size: 25px;
    color: #FFFFFF;
    max-width: 150px;
    line-height: 28px;
}
/*MDL-INPUT*/
.mdl-input{
	margin: 15px 0;
}
.mdl-input .form-control{
	height: 45px;
    border-radius: 8px;
}
.mdl-input.transparent .form-control{
	height: 50px;
    border-radius: 20px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
}
.mdl-checkbox__label a{
	text-decoration: none;
	color: #FFFFFF;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline,
.mdl-checkbox__box-outline{
	border: 2px solid #FFFFFF;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
	background: #FFFFFF;
}
/*PLACEHOLDER*/
input::placeholder {
	font-style: italic;
	color: #FFFFFF;
}