body{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#login{
    background: url(../img/fondo/fondo_sap.jpg) no-repeat center center;
    background-size: cover !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}